@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


:root{
    --Verydarkblue: hsl(233, 55%, 11%);
    --Darkdesaturatedblue: hsl(244, 38%, 16%);
    --Softviolet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --SlightlytransparentP: hsla(0, 0%, 100%, 0.75);
    --SlightlytransparentS: hsla(0, 0%, 100%, 0.6);
    --Layer: rgba(110,30,160,0.7);
    --Cyan: hsl(179, 62%, 43%);
    --BrightYellow: hsl(71, 73%, 54%);
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
    --cyanclaro: hsl(179, 62%, 47%);
    --color-en-medio: hsl(179, 62%, 45%);
}

body{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: var(--Verydarkblue);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

nav {
width: 100%;
text-align: center;
}

nav a {
display: inline-block;
margin: 0 10px;
padding: 10px;
border-radius: 5px;
text-decoration: none;
color: white;
font-size: 20px;
}

a:hover{
    color: blueviolet;
}

main{
    background-color: var(--Darkdesaturatedblue);
    height: 785px;
    width: 328px;
    margin: 88px auto;
    border-radius: 5px;
    overflow: hidden;
}

.imagen{
    background-image: url(../img/imagen.jpg);
    width: 100%;
    height: 240px;
    background-size: cover;
}

h1{
    color: var(--White);
    font-size: 1.8em;
    font-family: 'Inter', sans-serif;
    height: 115px;
    margin-bottom: -20px;
}

span{
    color: var(--Softviolet);
}

p{
    color: var(--SlightlytransparentP);
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 25px;
    height: 137px;
    padding-top: 10px;
}

.section2{
    padding: 40px 33px;
    text-align: center;
}
#somos h2{
    color: white;
}

#somos p{
    margin-bottom: 70px;
}

#contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background: #000;

}

ul {
    position: relative;
    display: flex;
}
ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
ul li a {
    text-decoration: none;
}
ul li a .fa-brands {
    font-size: 6em;
    color: #444040;
}
ul li a::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

/*-----------<375px------------*/
.main_container{
    background-color: white; 
    /* var(--Darkdesaturatedblue); */
    width: 313px;
    height: 1830px;
    margin: 70px auto 70px;
    border-radius: 8px;
    overflow: hidden;
}

.our_comunity{
    padding: 8px 24px 24px 24px;
    height: 1370px;
    box-sizing: border-box;
}

.suscripcion{
    background-color: var(--Cyan);
    padding: 12px 24px 24px 24px;
    height: 230px;
    box-sizing: border-box;
    color: white;
}

.why_us{
    background-color: var(--cyanclaro);
    padding: 8px 24px 24px 24px;
    height: 230px;
    box-sizing: border-box;
    color: var(--LightGray);
}

.suscripcion h2{
    font-size: 1em;
    margin-bottom: 18px;

}

.precio{
    font-size: 2em;
    font-weight: 700;
    color: white;

}
.pago{
    font-size: 2em;
    font-weight: 700;
    color: white;
}

button{
    margin-top: 14px;
    background-color: var(--BrightYellow);
    border-radius: 5px;
    width: 100%;
    height: 48px;
    border-style: none;
    color: var(--LightGray);
    font-size: 16px;
    font-weight: 700;
    
}

.why_us h2{
    font-size: 18px;

}

.why_us ul li{
    list-style: none;
    margin-left: -40px;
    font-size: 0.85em;
    line-height: 20px;
    font-weight: 300;
}



@media screen and (min-width: 680px){
    .main_container{
        width: 836px;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 160px auto 150px;
    }

    .our_comunity{
        grid-column: 1/3;
        padding: 20px 35px;
        height: auto;
        margin-bottom: 50px;
    }

    .suscripcion{
        padding: 20px 40px;
        height: 258px;
    }
    .suscripcion h2{
        font-size: 1.1em;

    }
    .suscripcion p{
        font-size: 0.95em;
    }
    .why_us{
        padding: 20px 40px;
        height: 258px;
    }
}


@media only screen and (min-width: 1200px){

    main{
        width: 1110px;
        height: 448px;
        display: flex;
        flex-direction: row-reverse;
    }
    .imagen{
        width: 540px;
        height: 100%;
        background-image: url(../img/imagen.jpg);
    }
    .section2{
        padding: 75px 70px;
        text-align: left;
    }
    h1{
        font-size: 2.5em;
    }
    p{
        margin-right: 70px;
    }
    .estadistica{
        display: flex;
        justify-content: space-between;
        margin-right: 70px;
    }

    #somos .container{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }

    #somos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--Darkdesaturatedblue);
    }

    #somos h2{
        color: white;
        margin-top: 0px;
    }

    #somos .img-container{
        background-image: url("../img/condo.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #red-neuronal{
        margin-top: 10px;
        margin-bottom: 100px;
    }
    
}
